{% extends 'base.html' %}
{% block title %}Player Create{% endblock %}
{%block body %}
<h1>Player Create</h1>
<a href="/user/{{username}}">return to user details</a>
<form method="POST" novalidate>
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>{{ field.label }}</p>
        <p>{{ field }}
        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
        </p>
    {% endfor %}
    <button>Submit</button>
</form>
{% endblock %}