{% extends 'base.html' %}
{% block title %}Edit Spells{% endblock %}
{%block body %}

<datalist id="all-spells"></datalist>
<datalist id="datalist0"></datalist>
<datalist id="datalist1"></datalist>
<datalist id="datalist2"></datalist>
<datalist id="datalist3"></datalist>
<datalist id="datalist4"></datalist>
<datalist id="datalist5"></datalist>
<datalist id="datalist6"></datalist>
<datalist id="datalist7"></datalist>
<datalist id="datalist8"></datalist>
<datalist id="datalist9"></datalist>



<h1>Edit Spells</h1>
<a href="/player/{{player_id}}">return without changes</a>


<div id="known_input" class="row">
    <div>Known Spells<br>
    <button class="add">Add</button>
    </div>
    {% for spell in known_spells %}
        <div>
            <input class="known_input" list="all-spells" value="{{ spell }}"><button class="delete">Delete</buton>
        </div>
    {% endfor %}
</div>

<div id="prepared" class="column">
<div id="lv0_input" class="row">
    <div>Cantrips<br>
        <button class="add">Add</button>
    </div>
    {% for spell in available_spells[0] %}
        <div class="column">
            Spell name: <input class="lv0_name" list="datalist0" value="{{ spell[0] }}">
            Number Prepared: <input class="lv0_number" type="number" value="{{ spell[1] }}">
            <button class="delete">Delete</buton>
        </div>
    {% endfor %}
</div>

{% for i in range(1,9) %}

    <div id="lv{{i}}_input" class="row">
        <div>Level {{i}}<button class="add">Add</button>
    {% for spell in available_spells[i] %}
        <div class="column">
            <input class="lv{{i}}_name" list="datalist{{i}}" value="{{ spell[0] }}"><input class="lv{{i}}_number" type="number" value="{{ spell[1] }}"><button class="delete">Delete</buton>
        </div>
    {% endfor %}
    </div>
    </div>

{% endfor %}
</div>


<form method="POST" novalidate>
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}

    {% if field.id == 'notes' %}
        <p>{{ field.label }}</p>
        <p>{{ field }}
        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
        </p>
    {% else %}

        <p hidden>{{ field.label }}</p>
        <p hidden>{{ field }}
        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
        </p>
    {% endif %}
    {% endfor %}
    <button id="submit">Submit</button>
</form>



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/edit-spells.js"></script>
{% endblock %}