{% extends 'base.html' %}
{% block title %}Edit Combat{% endblock %}
{%block body %}

<datalist id="weapons_datalist">
    {% for weapon in weapons %}
        <option>{{ weapon }}</option>
    {% endfor %}
</datalist>

<datalist id="dice_datalist">
    <option value="1d4"></option>
    <option value="1d6"></option>
    <option value="1d8"></option>
    <option value="1d10"></option>
    <option value="1d12"></option>
    <option value="1d20"></option>
</datalist>

<h1>Edit Combat</h1>
<a href="/player/{{player_id}}">return without changes</a>

<form method="POST" novalidate>
    {{ form.hidden_tag() }}

    <div id="attacks_input" class="column border">
    <div class="row"><label>Attacks</label> <button class="add">Add</button></div>
    <div id="attacks_div" class="row">
        {% for attack in attacks %}
            <div class="column">
                <div>Weapon name: <input class="weapons_input" value="{{ attack[0] }}" list="weapons_datalist"></div>
                <div>Attack dice: <input class="dice_input" list="dice_datalist" value="{{ attack[1] }}"></div>
                <div>Number of attacks: <input class="number_input" type="number" value="{{ attack[2] }}"></div>
                <div><button class="delete">Delete</button></div>
            </div>
        {% endfor %}
    </div>
    </div>

    {% for field in form if field.widget.input_type != 'hidden' %}
        {% if field.id == 'attacks' %}
        <p hidden>{{ field.label }}</p>
        <p hidden>{{ field }}
        </p>
        {% else %}
        <p>{{ field.label }}</p>
        <p>{{ field }}
        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
        </p>
        {% endif %}
    {% endfor %}
    <button id="submit">Submit</button>
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/edit-combat.js"></script>
{% endblock %}