{% extends 'base.html' %}
{% block title %}Campaign Details{% endblock %}
{%block body %}

<a href="/user/{{ dm }}">return to user detail</a>

<h5>
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</h5>

<h1>{{ campaign.name }}</h1><a href="/campaign/{{campaign.campaign_id}}/edit">edit</a>

{% if campaign.description %}
<p style="white-space: pre-wrap; font-family:Arial, Helvetica, sans-serif">"{{ campaign.description }}"</p>
{% endif %}

<h4>Dungeon Master</h4>
{{ dm }}

<h4>Player Characters</h4>
{% for player in players %}
    <a href="/campaign/{{ campaign.campaign_id }}/player/{{ player.player_id }}">{{ player.name }}</a>

{% endfor %}

{% endblock %}