{% extends 'base.html' %}
{% block title %}Player Details{% endblock %}
{%block body %}

<a class="navigate" href="/campaign/{{ campaign.campaign_id }}/party">return to campaign</a>

<div class="row">
    <div><h2>{{ player.name }}</h2></div>
        {% if player.party_notes %}
    <div class="category">
        <button>Party Notes</button><div class="descriptive" hidden>{{ player.party_notes }}</div>
    </div>
{% endif %}
</div>

{% if player.demo %}
<div id="demo" class="column category">
    <button>DEMOGRAPHICS</button>
    <div hidden>
        <div class="row">
            <div class="collection">
                <div class="item">Player Level: {{ demo.player_level }}</div>
                <div class="item">XP: {{ demo.player_xp }}</div>
            </div>
            <div class="collection">
                <div class="item">{{ demo.race }}</div>
                <div class="item">{{ demo.subrace }}</div>
            </div>
            <div class="collection">
                <div class="item">{{ demo.job }}</div>
                <div class="item">{{ demo.subjob }}</div>
            </div>
            <div class="collection">
                <div class="item">Age: {{ demo.age }} years</div>
            </div>
            <div class="collection">
                <div class="item">{{ demo.alignment }}</div>
            </div>
        </div>
        <div class="collection row">
            {% for key, value in classes.items()%}
                {% if value !=0 %}
                    <div class="item">{{key}} level {{value}}</div>
                {% endif %}
            {% endfor %}
        </div>
        {% if demo.notes %}
        <div class="collection">
            <div class="descriptive">{{demo.notes}}</div>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}

{% if player.vitals %}
<div id="vitals" class="column category"><button>VITALS</button>
    <div hidden>
    <div class="row">
        <div class="collection">
            HP:
            <div class="item">
            {{ vitals.hp }}/{{ vitals.max_hp }}
            </div>
        </div>

        <div class="collection">
            HD: 
            {% for hit_dice in hd %}
                <div class="item">{{ hit_dice[0] }} x {{ hit_dice[1] }}</div>
            {% endfor %}
        </div>

        <div class="collection">
            Conditions: 
            {% for condition in conditions %}
                <div class="item">{{ condition }}</div>
            {% endfor %}
        </div>
    </div>
    {% if vitals.notes %}
    <div class="collection">
        <div class="descriptive">{{vitals.notes}}</div>
    </div>
    {% endif %}
</div>
</div>
{% endif %}

{% if player.combat %}
<div id="combat" class="column category"><button>COMBAT</button>
    <div hidden>
    <div class="collection">Attacks: 
        {% for attack in attacks %}
            <div class="item">{{ attack[0] }}: {{ attack[1] }} x {{ attack[2] }}</div>
        {% endfor %}
    </div>
    <div class="collection row">
        <div class="item">AC: {{ combat.ac }}</div>
        <div class="item">Initiative: {{ combat.initiative }}</div>
        <div class="item">Speed: {{ combat.speed }}</div>
        <div class="item">Inspiration: {{ combat.inspiration }}</div>
        {% if combat.max_ki !=0 %}
        <div class="item">Ki: {{ combat.ki }} / {{ combat.max_ki }}</div>
        {% endif %}
    </div>
    {% if combat.notes %}
    <div class="collection">
        <div class="descriptive">{{combat.notes}}</div>
    </div>
    {% endif %}
</div>
</div>
{% endif %}

{% if player.spells %}
<div id="spells" class="column category"><button>SPELLS</button>
    <div hidden>
    <div class="collection">
        <button>Known Spells</button>
        <div hidden>
        <div class="row">
        {% for spell in known_spells %}
            <div class="item">{{ spell }}</div>
        {% endfor %}
        </div>
        </div>
    </div>

    <div class="collection" class="row">
    {% for n in range(9) %}
    {% if available_spells[n] %}
    <div class="column">
        {% if n == 0 %}
        <button>Cantrips</button>
        {% else %}
        <button>Level {{n}}</button>
        {% endif %}
        <div hidden>
        {% for spell in available_spells[n]%}
        <div class="item">
            {{spell[0]}} x {{spell[1]}}
        </div>
        {% endfor %}
    </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    {% if spells_notes %}
    <div class="collection">
        <div class="descriptive">{{spells_notes}}</div>
    </div>
    {% endif %}
</div>
</div>
{% endif %}

{% if player.ability %}
<div id="ability" class="column category">
    <button>ABILITY SCORES</button>
    <div hidden>
    <div class="collection">
    <div class="row">
    <div class="item">Strength: {{ ability.strength }}</div>
    <div class="item">Dexterity: {{ ability.dexterity }}</div>
    <div class="item">Constitution: {{ ability.constitution }}</div>
    </div>
    <div class="row">
    <div class="item">Intelligence: {{ ability.intelligence }}</div>
    <div class="item">Wisdom: {{ ability.wisdom }}</div>
    <div class="item">Charisma: {{ ability.charisma }}</div>
    </div>
    </div>
    {% if ability.notes %}
    <div class="collection">
        <div class="descriptive">{{ability.notes}}</div>
    </div>
    {% endif %}
</div>
</div>
{% endif %}

{% if player.proficiency %}
<div id="proficiencies" class="column category">
    <button>PROFICIENCIES</button>
    <div hidden>
    <div class="row">
    {% if proficiencies[0] %}
    <div class="collection">Skills: 
        {% for skill in proficiencies[0] %}
        <div class="item">
            {{ skill }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if proficiencies[1] %}
    <div class="collection">Weapons: 
        {% for skill in proficiencies[1] %}
        <div class="item">
            {{ skill }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if proficiencies[2] %}
    <div class="collection">Armor: 
        {% for skill in proficiencies[2] %}
        <div class="item">
            {{ skill }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if proficiencies[3] %}
    <div class="collection">Tools: 
        {% for skill in proficiencies[3] %}
        <div class="item">
            {{ skill }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if proficiencies[4] %}
    <div class="collection">Languages: 
        {% for skill in proficiencies[4] %}
        <div class="item">
            {{ skill }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if proficiencies[5] %}
    <div class="collection">Traits: 
        {% for skill in proficiencies[5] %}
        <div class="item">
            {{ skill }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if proficiencies[6] %}
    <div class="collection">Features: 
        {% for skill in proficiencies[6] %}
        <div class="item">
            {{ skill }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    </div>
    
    {% if proficiency.notes %}
    <div class="collection">
        <div class="descriptive">{{proficiency.notes}}</div>
    </div>
    {% endif %}
</div>
</div>
{% endif %}

{% if player.items %}
<div id="items" class="column category">
    <button>ITEMS</button>
    <div hidden>
    <div class="row">
    {% if items[0] %}
    <div class="collection">Weapons: 
        {% for item in items[0] %}
        <div class="item">
            {{ item }}
        </div>
        {% endfor %}
    </div>
   
    {% endif %}
    {% if items[1] %}
    <div class="collection">Armor: 
        {% for item in items[1] %}
        <div class="item">
            {{ item }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if items[2] %}
    <div class="collection">Tools: 
        {% for item in items[2] %}
        <div class="item">
            {{ item }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if items[3] %}
    <div class="collection">Wallet: 
        {% for item in items[3] %}
        <div class="item">
            {{ item[0] }} x {{ item[1] }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if items[4] %}
    <div class="collection">Other: 
        {% for item in items[4] %}
        <div class="item">
            {{ item[0] }} x {{ item[1] }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
     </div>

<div class="collection">
    <div  class="item">Encumbrance: {{ items_object.weight }}/{{ items_object.max_weight }}</div>
    </div>
<div class="collection">
<div class="descriptive">{{items_object.notes}}</div>
</div>
</div>
</div>


{% endif %}
<script src="/static/player-detail.js"></script>
{% endblock %}